<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>adminMail</param-name>
        <param-value>ProgrammerWebBlog@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>HomeMessage</param-name>
        <param-value>Welcome to Programmer Web Blog</param-value>
    </context-param>
    <context-param>
        <param-name>HomeMessageDetails</param-name>
        <param-value>This blog is about programming and nothing else.</param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.blog.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.blog.servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>com.blog.servlets.PostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category</servlet-name>
        <servlet-class>com.blog.servlets.Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Subscribe</servlet-name>
        <servlet-class>com.blog.servlets.Subscribe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePostServelt</servlet-name>
        <servlet-class>com.blog.servlets.CreatePostServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFilesServlet</servlet-name>
        <servlet-class>com.blog.servlets.DownloadFilesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePostServlet</servlet-name>
        <servlet-class>com.blog.servlets.UpdatePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCategoryServlet</servlet-name>
        <servlet-class>com.blog.servlets.CreateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <servlet-class>com.blog.servlets.UpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>com.blog.servlets.CreateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.blog.servlets.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/Home.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/Post.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category</servlet-name>
        <url-pattern>/Category.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Subscribe</servlet-name>
        <url-pattern>/Subscribe.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePostServelt</servlet-name>
        <url-pattern>/CreatePost.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFilesServlet</servlet-name>
        <url-pattern>/Download.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePostServlet</servlet-name>
        <url-pattern>/UpdatePost.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCategoryServlet</servlet-name>
        <url-pattern>/CreateCategory.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <url-pattern>/UpdateCategory.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUser</servlet-name>
        <url-pattern>/CreateUser.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUser.htm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/pages/errorPage.jsp</location>
    </error-page>
</web-app>
